thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 21px;
    line-height: 1.42857;
    background-color: #fff;
    border: 1px solid #FFF;
    border-radius: 0;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}