.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.42857;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-primary {
    color: #fff;
    background-color: #002050;
    border-color: #002050;
}

a {
    color: #002050;
    text-decoration: none;
}

#EntityFormControl_389541bb2922e811a957000d3a328e4e_EntityFormView > h2:nth-child(15) {
    visibility: hidden;
}
#EntityFormControl_389541bb2922e811a957000d3a328e4e_EntityFormView > div:nth-child(16) > div > div > fieldset > table > tbody > tr > td.clearfix.cell.lookup.form-control-cell {
    visibility: hidden;
}

input#props_requestlineitemstotal {
    pointer-events: none;
    background-color: lightgrey;
}
input#props_requestlineitemstotalcost {
    pointer-events: none;
    background: lightgrey;
}
#EntityFormView > h2:nth-child(11) {
    visibility: hidden;
}
#EntityFormView > div:nth-child(12) > div > div > fieldset > table > tbody > tr > td.clearfix.cell.lookup.form-control-cell {
    visibility: hidden;
}





